In [2]:
import pandas as pd

In [5]:
pilot_data = pd.read_csv('Total_Pilot_Data.csv')

In [6]:
pilot_data

,Treatment,Product,Day,Week,City,Clicks_per_day,Clicks_CUM,Saves_per_day,Saves_CUM,Shares,Messages_per_day,Messages_CUM
0,1,1,1,1,1,46,46,2,2,0,2.0,2
1,1,2,1,1,1,75,75,5,5,0,7.0,7
2,1,3,1,1,1,19,19,0,0,0,1.0,1
3,1,4,1,1,1,54,54,1,1,0,1.0,1
4,2,1,1,1,2,2,2,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
107,2,4,7,2,1,89,1135,1,36,0,1.0,16
108,1,1,7,2,2,3,34,0,3,0,1.0,2
109,1,2,7,2,2,54,553,3,27,0,4.0,26
110,1,3,7,2,2,96,794,3,27,2,5.0,43
111,1,4,7,2,2,153,2633,6,84,0,2.0,26

In [8]:
from scipy.stats import ttest_ind

# Separating the 'Day of the Week' data into two groups: Retail and Personal
retail_days = pilot_data[pilot_data['Treatment'] == 1]['Clicks_per_day']
personal_days = pilot_data[pilot_data['Treatment'] == 2]['Clicks_per_day']

# Performing the independent samples t-test
t_stat, p_value = ttest_ind(retail_days, personal_days)

t_stat, p_value

(1.7989081997683125, 0.07477529983656941)

In [21]:
# create a new column named location so if week ==1 and type is personal or if week ==2 and type == retail, the cell will have San Diego, else Phoenix

pilot_data['Location'] = 'San Diego'
pilot_data.loc[(pilot_data['Week'] == 2) & (pilot_data['Treatment'] == 1), 'Location'] = 'Phoenix'
pilot_data.loc[(pilot_data['Week'] == 1) & (pilot_data['Treatment'] == 2), 'Location'] = 'Phoenix'

In [32]:
pilot_data.loc[80, 'Messages_per_day'] = 0
pilot_data.loc[84, 'Messages_per_day'] = 0

In [24]:
avg_clicks_loc_week = pilot_data.groupby(['Location','Week'])['Clicks_per_day'].mean()
avg_clicks_loc_week

Location   Week
Phoenix    1        43.928571
           2       143.357143
San Diego  1        28.428571
           2        49.964286
Name: Clicks_per_day, dtype: float64

In [25]:
# Average clicks for each location
avg_clicks_loc = pilot_data.groupby(['Location'])['Clicks_per_day'].mean()
avg_clicks_loc

Location
Phoenix      93.642857
San Diego    39.196429
Name: Clicks_per_day, dtype: float64

In [26]:
avg_clicks_product = pilot_data.groupby(['Product'])['Clicks_per_day'].mean()
avg_clicks_product

Product
1      9.392857
2     34.321429
3     39.357143
4    182.607143
Name: Clicks_per_day, dtype: float64

In [27]:
avg_clicks_product_week = pilot_data.groupby(['Product', 'Week'])['Clicks_per_day'].mean()
avg_clicks_product_week

Product  Week
1        1        15.071429
         2         3.714286
2        1        22.571429
         2        46.071429
3        1        11.000000
         2        67.714286
4        1        96.071429
         2       269.142857
Name: Clicks_per_day, dtype: float64

In [33]:
pilot_data['Messages_per_day'] = pilot_data['Messages_per_day'].astype('int32')

In [34]:
from scipy.stats import ttest_ind

# Separating the 'Day of the Week' data into two groups: Retail and Personal
retail_days_messages = pilot_data[pilot_data['Treatment'] == 1]['Messages_per_day']
personal_days_messages = pilot_data[pilot_data['Treatment'] == 2]['Messages_per_day']

# Performing the independent samples t-test
t_stat, p_value = ttest_ind(retail_days_messages, personal_days_messages)

t_stat, p_value

(1.9882168442514094, 0.0492716434099909)

In [36]:
from scipy.stats import ttest_ind

# Separating the 'Day of the Week' data into two groups: Retail and Personal
retail_days_saves = pilot_data[pilot_data['Treatment'] == 1]['Saves_per_day']
personal_days_saves = pilot_data[pilot_data['Treatment'] == 2]['Saves_per_day']

# Performing the independent samples t-test
t_stat, p_value = ttest_ind(retail_days_saves, personal_days_saves)

t_stat, p_value

(1.053271639712072, 0.2945246542991504)

Not Significant!

In [38]:
average_saves = pilot_data.groupby(['Location', 'Week'])['Saves_per_day'].mean()
average_saves

Location   Week
Phoenix    1       3.250000
           2       5.035714
San Diego  1       1.571429
           2       1.392857
Name: Saves_per_day, dtype: float64